In [1]:
import pandas as pd
from scipy import stats
from sklearn.datasets import load_iris

In [3]:
# Import dataset iris
data_iris = load_iris()
df_iris = pd.DataFrame(data=data_iris.data, columns=data_iris.feature_names)
df_iris['target'] = data_iris.target
df_iris

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,2
146,6.3,2.5,5.0,1.9,2
147,6.5,3.0,5.2,2.0,2
148,6.2,3.4,5.4,2.3,2
149,5.9,3.0,5.1,1.8,2

In [1]:
import streamlit as st
import pandas as pd
import numpy as np

# Contoh data
data = pd.DataFrame(np.random.randn(500, 5), columns=[f'Column {i}' for i in range(1, 6)])

     Column 1  Column 2  Column 3  Column 4  Column 5
0   -1.983665  1.442339  0.702319 -1.109235  0.400838
1    0.508531 -0.300847 -1.639303 -0.112526  0.880155
2   -0.708142 -1.306554 -1.408723  1.449745 -0.232085
3    1.072126  0.322640 -2.597255 -1.443491  0.611572
4    0.511926  0.396063 -2.373509  1.600530  0.183465
..        ...       ...       ...       ...       ...
495  3.264296 -0.176003 -1.983560 -0.523482 -0.393007
496  0.026524  0.839516  1.115102 -0.299001  0.386984
497  0.461613 -0.406317 -0.489412 -0.516707 -0.465573
498  1.347228  1.396287 -0.170927  1.467084 -0.180290
499 -1.005776 -0.534726  1.698708 -0.033188 -1.054708

[500 rows x 5 columns]

In [6]:
# uji Shapiro Wilk
shapiro_test = stats.shapiro(df_iris['sepal length (cm)'])

print("Shapiro-Wilk Test")
print(f"Statistic: {shapiro_test.statistic}, p-value: {shapiro_test.pvalue}")

Shapiro-Wilk Test
Statistic: 0.9760902723490532, p-value: 0.010181161454691156

In [7]:
# Uji Jarque-Bera
jarque_bera_test = stats.jarque_bera(df_iris['sepal length (cm)'])

print("Jarque-Bera Test")
print(f"Statistic: {jarque_bera_test.statistic}, p-value: {jarque_bera_test.pvalue}")

Jarque-Bera Test
Statistic: 4.4858754373509475, p-value: 0.1061462181718774

In [8]:
# Uji Kolmogorov-Smirnov
ks_test = stats.kstest(df_iris['sepal length (cm)'], 'norm')  # Membandingkan dengan distribusi normal

print("Kolmogorov-Smirnov Test")
print(f"Statistic: {ks_test.statistic}, p-value: {ks_test.pvalue}")

Kolmogorov-Smirnov Test
Statistic: 0.999991460094529, p-value: 0.0